{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-md">
        <article>
            <h2>${{property.price}}</h2>
            <h4>
                {% if property.forSale %}
                    For Sale
                {% else %}
                    For Rent
                {% endif %}
            </h4>
            <img src="{{property.images}}" width="400px" height="200px">
            <div class="card-text mb-2"></div>
            {% if property.owner == userId %}
                <hr>
                <div class="btn-group">
                    {%- comment -%}
                    first button will take us to the edit page
                    second will actually be a form, that calls our delete route
                    {%- endcomment -%}
                    <a href="/properties/edit/{{property.id}}" class="btn btn-primary">Edit</a>
                    <form action="/properties/{{property.id}}?_method=DELETE" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                </div>
            {% endif %}
        </article>
        <hr>
        <h4>comments</h4>
        <hr>
        {% if loggedIn %}
            <div class="col-md-6">
                <form action="/comments/{{ property.id }}" method="POST">
                    <fieldset>
                        <legend>Add Comment</legend>
                        <label class="form-label">comment: </label>
                        <input type="text" name="note" class="form-control mb-1">
                    </fieldset>
                    <input type="submit" class="btn btn-success" value="add comment">
                </form>
            </div>
        {% else %}
            <div class="col-md-6">
                <small>If you'd like to leave a comment, please log in...</small>
            </div>
        {% endif %}
        <hr>
        {% if property.comments.length > 0 %}
            <div class="container-sm justify-content-center">
                {% for comm in property.comments %}
                    {% render '../comment.liquid', comm: comm, userId: userId, property: property%}
                {% endfor %}
            </div>
        {% else %}
            <small>no comments yet...</small>
        {% endif %}
    </div>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
  
  
{% endblock %}